.bannerOne__card{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 70%;
    width: 50%;
    max-width: 250px;
    min-width: 220px;
}

.bannerOne__card__profilePicture{
    height: 50%;
}

.bannerOne__card img{
    transform: scale(0.8);
    width: 100%;
    height: 100%;
}

.bannerOne__card__details{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.bannerOne__card__details__nameAge{
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin: 5px;
}

.bannerOne__card__details__nameAge__name{
    font-size: 2rem;
    font-weight: 500;
}

.bannerOne__card__details__nameAge__age{
    font-size: 1rem;
    height: 65%;
    margin-left: 5px;
}

.bannerOne__card__details__designation{
    margin: 5px;
    font-size: 1rem;
}

.bannerOne__card__details__designation img{
    object-fit: contain;
    height: 50%;
}

.bannerOne__card__details hr{
    width: 99%;
    border: 1px solid white;
    background-color: white;
}