.matchmaker__mainContainer{
    background-color: #141B29;
    height: 100vh;
    display: flex;
}

.matchmaker__leftPane{
    width: 30%;
    background-color: #124143;
}

.matchmaker__leftPane__nav{
    height: 12vh;
    background-color: #5ac994;
    display: flex;
    align-items: center;
}

.matchmaker__leftPane__nav__profile{
    display: flex;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}

.matchmaker__leftPane__nav__profile:hover{
    background-color: rgba(20, 27, 41, 0.37);
    border-radius: 50px;
}

.matchmaker__leftPane__nav__profile p{
    color: #141B29;
    margin-left: 10px;
    margin-right: 10px;
}

.matchmaker__leftPane__nav__profile img{
    width: 40px;
}

.matchmaker__leftPane__options{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
}

.matchmaker__leftPane__options > p{
    cursor: pointer;
    font-weight: 300;
}

.matchmaker__leftPane__options > p:hover{
    border-bottom: 2px solid #5ac994;
}

.matchmaker__leftPane__content{
    height: 78vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 200;
}

.matchmaker__rightPane{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}