.matchmaker__mainContainer{
    background-color: #141B29;
    height: 100vh;
    display: flex;
}

.matchmaker__leftPane{
    width: 30%;
    background-color: #124143;
}

.matchmaker__leftPane__nav{
    height: 12vh;
    background-color: #5ac994;
    display: flex;
    align-items: center;
}

.matchmaker__leftPane__nav__profile{
    display: flex;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}

.matchmaker__leftPane__nav__profile:hover{
    background-color: rgba(20, 27, 41, 0.37);
    border-radius: 50px;
}

.matchmaker__leftPane__nav__profile p{
    color: #141B29;
    margin-left: 10px;
    margin-right: 10px;
}

.matchmaker__leftPane__nav__profile img{
    width: 40px;
}

.matchmaker__leftPane__options{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
}

.matchmaker__leftPane__options > p{
    cursor: pointer;
    font-weight: 300;
    transition: 250ms ease-in-out;
}

.matchmaker__leftPane__options > p:hover{
    color: #cecece;
}

.matchmaker__leftPane__options > p.active{
    border-bottom: 2px solid #5ac994;
}

.matchmaker__leftPane__content{
    height: 78vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 200;
}

.matchmaker__leftPane__content__matches{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 99%;
    overflow-y: scroll;
}

.matchmaker__leftPane__content__matches__individual{
    display: flex;
    width: 90%;
    height: 10%;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
}

.matchmaker__leftPane__content__matches__individual img{
    height: 90%;
}

.matchmaker__leftPane__content__matches__individual:hover{
    background-color: rgba(0, 255, 157, 0.2);
    cursor: pointer;
}

.matchmaker__rightPane{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}