.header__mainContainer{
    height: 10vh;
    background: #141B29;
    color: white;
    display: flex;
    align-items: center;
    position: sticky;
}

.header__mainContainer a{
    text-decoration: none;
    color: white;
}

.header__leftContainer{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header__leftContainer h1{
    font-size: 2rem;
}

.header__leftContainer span {
    font-size: 1rem;
    cursor: pointer;
}
.header__rightContainer{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 3rem;
}
