.header__mainContainer{
    width: 100vw;
    height: 10vh;
    background: #141B29;
    color: white;
    display: flex;
    align-items: center;
    position: sticky;
}

.header__mainContainer a{
    text-decoration: none;
    color: white;
}

.header__leftContainer{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header__leftContainer h1{
    font-size: 2.5rem;
}

.header__leftContainer span {
    font-size: 1.5rem;
    cursor: pointer;
}
.header__rightContainer{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__rightContainer button{
    margin-right: 6rem;
    background-image: linear-gradient(to right, #124143 0%, #5ac994 51%, #124143 100%);
    width: 14vw;
    min-width: 100px;
    max-width: 150px;
    height: 6vh;
    text-align: center;
    text-transform: uppercase;
    transition: 1s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
}
.header__rightContainer button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
