.login__form{
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgb(25, 197, 131);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 70%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 20px 10px 20px;
    font-size: 1rem;
    font-weight: lighter;
}

.login__form__email,.login__form__password{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.login__form__email input,.login__form__password input{
    padding: 0 2px 0 5px;
    border-radius: 30px;
    border: 2px solid #5ac994;
    color: #ffffff;
    background-color: transparent;
    width: 75%;
}

.login__form__login{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}